
body {
    background: lightcoral;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.125rem;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

input[type="submit"] {
    background-color: #1e5128;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}